*{
margin: 0;
padding:0;
outline: none;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

html{
    font-size: 62.5%;
}

.first-menu {
    width: 4rem;
    height: 4rem;
    background-color: #aecdd5;
    position: fixed;
    top: 7rem;
    right: 7rem;
    z-index: 200;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    transition: right .8s;
}

.change .hamburger-menu {
    right: 33rem;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: azure;
    box-shadow: 0 0.1rem 0.2rem #aecdd5;
}

.change.line {
    background-color: #c15f5f;
}

.change.line-1 {
    transform: rotate(45deg) translate(.3rem, .8rem);
}

.change.line-2 {
    visibility: hidden;
    opacity: 0;
}

.change.line-3 {
    transform: rotate(-45deg) translate(.4rem, -.7rem);
}

.first-menu span {
    position: absolute;
    left: 5rem;
    height: 5rem;
    width: 8rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    align-items: center;
    font-family: "Baloo Da 2", serif;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.change .first-menu:hover span {
    opacity: 1;
    visibility: visible;
}

.first-menu span::before {
    content: "";
    position: absolute;
    border-left: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #d591d5;
    border-top: 2rem solid transparent;
    top: 40%;
    left: -3rem;
    transform: translateY(-45%);
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #645454;
    position: relative;
    overflow: hidden;


}

.img-wrapper img {
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.7;
display: block;
z-index: 1;
animation:scale 23s;
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.1);
    }
}

.banner {
    position: absolute;
    left: 25%;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: blanchedalmond;
    padding: 3rem;
    max-width: 60%;
    text-align: left;
    text-shadow: 0 4px 10px rgba(0,0,0,.6);    
}

.banner h1 {
    font-family: "Baloo Da 2", serif;
    font-size: 5rem;
    font-weight: 400;
    color: antiquewhite;
    width: 45%;
    line-height: 1.2rem;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    text-shadow: #a85d5d;
    opacity:0;
    animation: moveBanner 1s .5s  forwards;
}

.banner p {
    font-family: "Josefin Slab", serif;
    font-size: 2rem;
    line-height: 1.2;
    width: 55%;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
    text-shadow: #645454;
    opacity:0;
    animation: moveBanner 1s .5s forwards;
}

.banner button {
    width: 25rem;
    height: 5rem;
    background-color: #3ca3cf;
    border: none;
    font-family: "Muli", serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 0 0.2rem 0.4rem #a85d5d;
    box-shadow:0 0.3rem 0.5rem #ff1818;
    cursor: pointer;
    opacity:0;
    animation: moveBanner 1.5s 1.3s forwards;
}

@keyframes moveBanner{
 0% {
    transform: translateY(35rem) rotateY(-20deg);
 }
 100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
 }
}

.sidebar {
    background-color: #fff;
    height: 100vh;
    width: 50rem;
    top: 0;
    right: -40rem;
    position: fixed;
    transition: right .4s;
}

.change .sidebar {
    right: 0;
}

.menu {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
}

.menu-link {
    color: rgb(113, 109, 103);
    font-size: 5rem;
    font-family: "Baloo Da 2", serif;
    position: relative;
}

.menu-link::before {
    content: attr(data-content);
    top: 0;
    left: 0;
    position: absolute;
    color: aqua;
    white-space: nowrap;
    overflow: hidden;
    transition: width .5s ease-in-out;
}

.menu-link:hover::before {
    width: 100%;
}

.social-media {
    width: 100%;
    display: flex;
    bottom: 5rem;
    position: absolute;
    justify-content: center;
}

.social-media i {
    width: 5rem;
    height: 5rem;
    background-color: #867d7d;
    font-size: 2rem;
    margin: 3rem;
    color: antiquewhite;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    display: flex;
    transition: background-color .5s;
}

.social-media i:hover {
    background-color: #e9d163;
}