*{
margin: 0;
padding:0;
outline: none;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

html{
    font-size: 62.5%;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #645454;
}

.img-wrapper img {
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.7;
}

.banner {
    position: absolute;
    left: 18%;
    right: 30%;
}

.banner p{
    font-family: Josefin Slab, serif;
}

.banner h1 {
    font-family: "Baloo Da 2", serif;
    font-size: 10rem;
    font-weight: 300;
    color: blanchedalmond;
    width: 40%;
}