*{
margin: 0;
padding:0;
outline: none;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

html{
    font-size: 62.5%;
}

.first-menu {
    width: 4rem;
    height: 4rem;
    background-color: #aecdd5;
    position: fixed;
    top: 7rem;
    right: 7rem;
    z-index: 200;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: azure;
    box-shadow: 0 0.1rem 0.2rem #aecdd5;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #645454;
    position: relative;
    overflow: hidden;


}

.img-wrapper img {
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.7;
display: block;
z-index: 1;
animation:scale 23s;
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.1);
    }
}

.banner {
    position: absolute;
    left: 25%;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: blanchedalmond;
    padding: 3rem;
    max-width: 60%;
    text-align: left;
    text-shadow: 0 4px 10px rgba(0,0,0,.6);    
}

.banner h1 {
    font-family: "Baloo Da 2", serif;
    font-size: 5rem;
    font-weight: 400;
    color: antiquewhite;
    width: 45%;
    line-height: 1.2rem;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    text-shadow: #a85d5d;
    opacity:0;
    animation: moveBanner 1s .5s  forwards;
}

.banner p {
    font-family: "Josefin Slab", serif;
    font-size: 2rem;
    line-height: 1.2;
    width: 55%;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
    text-shadow: #645454;
    opacity:0;
    animation: moveBanner 1s .5s forwards;
}

.banner button {
    width: 25rem;
    height: 5rem;
    background-color: #3ca3cf;
    border: none;
    font-family: "Muli", serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 0 0.2rem 0.4rem #a85d5d;
    box-shadow:0 0.3rem 0.5rem #ff1818;
    cursor: pointer;
    opacity:0;
    animation: moveBanner 1.5s 1.3s forwards;
}

@keyframes moveBanner{
 0% {
    transform: translateY(35rem) rotateY(-20deg);
 }
 100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
 }
}